# Slack
SLACK_BOT_TOKEN=xoxb-xxxx
SLACK_SIGNING_SECRET=xxxx
SLACK_APP_TOKEN=xapp-xxxx
SLACK_CHANNEL_ID=C0XXXXXX

# Claude API
ANTHROPIC_API_KEY=sk-ant-xxxx

# Google
GOOGLE_SERVICE_ACCOUNT_KEY=./credentials.json
GOOGLE_SHEETS_ID=1R73DTJSe5uCy4_gbCQlKwPjjSyGCcyggoB8B1hd8fDw
GOOGLE_DRIVE_FOLDER_ID=xxxx
